html{
	background-color: black;
}

div.story {
	align-content: center;
	text-align: center;
}

div.story>object {
	max-width: 1000;
	width: 100%;
	/*width: 750;*/
}

.nav {
	background: white;
	display:inline-block;
	width: 100%;
	text-align: center;
}
.nav>.pageNumber {
	width: 96;
	height: 64;
	margin: 5;
	border-style: solid;
	border-color: black;
	display: inline;
}
.nav>*>img {
	width: 64;
	height: 64;
	margin: 5;
	border-style: solid;
	border-color: black;
	display: inline;
}
.nav>.first>img {
	content: url(../../../content/images/first.svg);
}
.nav>.back>img {
	content: url(../../../content/images/back.svg);
}
.nav>.next>img {
	content: url(../../../content/images/next.svg);
}
.nav>.last>img {
	content: url(../../../content/images/last.svg);
}
